.App {
  text-align: center;
	color: #fff;
}

a {color:#fff; text-decoration:none;}
a:visited {color:#fff;}
a:hover {color:#fff; cursor:pointer;}
a:active {color:#fff;}

button:hover {cursor:pointer;}
button:focus {outline-width: 0;}
button {
	border-radius: 30px;
	background-color: #1DB954;
	color: #fff;
	border: none;
	padding: 0;
}

input:focus {outline-width: 0;}
input {
	border: none;
	margin-left: 10px;
	border-radius: 30px;
	height: 40px;
	width: 40px;
	font-size: 20px;
	position: relative;
	top: 35%;
	transform: translateY(-35%);
}

textarea:focus {outline-width: 0;}
textarea {
	resize: none;
	padding-left: 15px;
	padding-top: 10px;
	border: none;
	border-radius: 30px;
	height: 40px;
	width: 275px;
	font-size: 25px;
	font-family: sans-serif;
}

select:focus {outline-width: 0;}
select {
	margin-top: 2px;
	height: 20px;
	border-radius: 30px;
}

hr {
	border-color: #191414;
}

/* Styling for Toggle Switch */

.switch input {display:none;}
.switch {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 25px;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: #1DB954;
}
  
input:focus + .slider {
	box-shadow: 0 0 1px #1DB954;
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(19px);
	-ms-transform: translateX(19px);
	transform: translateX(19px);
}
  
.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}
