.Header {
	background-color: #181818;
	text-align: left;
	padding-left: 100px;
	margin-bottom: 15px;
}

.Title {
	display: inline;
	font-size: 30px;
	padding-left: 15px;
}

.Logo {
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: -25px;
}
