{
    "SPOTIFY_CLIENT_ID": "YOUR SPOTIFY CLIENT ID",
    "SPOTIFY_CLIENT_SECRET": "YOUR SPOTIFY CLIENT SECRET",
    "GENIUS_CLIENT_ID": "YOUR GENIUS CLIENT ID",
    "GENIUS_CLIENT_SECRET": "YOUR GENIUS CLIENT SECRET",
    "SPOTIFY_REDIRECT_URI": "YOUR SPOTIFY REDIRECT URI",
    "GENIUS_REDIRECT_URI": "YOUR GENIUS REDIRECT URI"
}